@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&family=Roboto&display=swap');
*{
    box-sizing: border-box;
}
body{
    margin: 0 auto;
}
.container{
    width: 1731px;
    margin: 0 auto;
}
header{
    background-color: rgba(233, 213, 202, 0.4);
}

.text-nav a{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #243A73;
}
button.get{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #FFFFFF;
    background: #243A73;
    border-radius: 6px;
    border: none;
    width: 152px;
    height: 49px;
}
.nav-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1600px;
    padding: 20px 0 0 0;
}
.text-nav{
    margin-left: 169px;
    margin-right: 60px;
}
.text-nav a{
    padding-right: 60px;
}
.registration{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
}
.registration img.search{
    padding-right: 32px;
}
.section-head{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.section-head .text-f{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-top: 151px;
    
}
.section-head .text-f h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 96px;
    line-height: 72px;
    background: linear-gradient(90.29deg, #243A73 3.51%, #FB5B01 117.91%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 34px;
    margin: 0;
}
.section-head .text-f h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 72px;
    color: #010F52;
    width: 1194px;
    margin: 0;
}
.section-head img{
    margin: 0;
}
.text-f{
    position: relative;
}
.text-f img{
    position: absolute;
}
.text-f img.star{
    left: 1050px;
    top: 50px;
}
.text-f img.el-3{
    left: 375px;
    top: 549px;
}
.text-f img.el-2{
    left: 177.36px;
    top: 491.45px;
}
.text-f img.el-1{
    left: 1375px;
    top: 473px;    
}