@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
}

.container-tight{
    width: 1000px;
    margin: 0 auto;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

.container-fat{
    width: 1400px;
    margin: 0 auto;
}

.wrapper{
    /* min-height: 100vh; */
    background: linear-gradient(96.68deg, #DEEEF7 2.88%, rgba(222, 238, 247, 0) 124.33%);
}

.navbar .container:nth-child(1){
    display: flex;
    justify-content: space-around;
    padding-top: 3vh;

}

.navbar-menu{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
}

.navbar-menu a{
    font-size: 18px;
    font-weight: 600;
    color: #243A73;
    text-decoration: none;
    /* justify-content: space-around; */
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    transition: 0.4s;
}

.navbar-menu a:hover{
    color: #5A38FD;
    transition: 0.2s;
}

.navbar-menu li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconss{
    display: flex;
    justify-content: space-between;
}

.container .icons{
    width: 25px;
    height: 25px;
    margin: 15px;

}

.navbar-menu .get{
    background-color: #243A73;
    color: white;
    border-radius: 6px;
    padding: 10px 20px;
    font-weight: 400;
    transition: 0.4s;
}

.navbar-menu .get:hover{
    background-color: #5A38FD;
    color: #10005e;
    transition: 0.2s;
}

.bigtext{
    display: flex;
    justify-content: space-between;
    /* padding: 150px; */
}

.bigtext .blocks{
    display: flex;
}

.slaider-rfq{
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 100px;
    margin: 0 auto;
    padding-top: 111px;
}
.slaider-rfq .line-1{
    width: 40px;
    border: 5px solid #D8D8D8;
    border-radius: 10ex;
    transition: all ease 0.2s;
    cursor: pointer;
}
.slaider-rfq .line-1:hover{
    width: 60px;
    border: 5px solid #243A73;
    border-radius: 10ex;
    transition: all ease 0.2s;
}

.bigtext .text{
    display: flex;
    flex-direction: column;
    width: 55%;
}

.bigtext .title{
    font-size: 50px;
    font-weight: 500;
    color: #243A73;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;

}
.bigtext .title .bold{
    font-weight: 700;
}

.bigtext .opis{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    color: black;
    padding-top: 20px;
    font-size: 20px;
}

.bigtext .bigman{
    width: 40%;
}



/* ANYTHING */

.wrapper2{
    /* min-height: 100vh; */
    background-color: white;
}

.wrapper2 .bigtext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px;
    position: relative;
}

.wrapper2 .bigtext .title{
    font-size: 40px;
    font-weight: 600;
    color: #243A73;
    font-family: 'Poppins', sans-serif;

}

.wrapper2 .bigtext .opis{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    color: #243A73;
    padding-top: 20px;
    font-size: 30px;
    font-weight: 500;
}

.wrapper2 .line{
    position: absolute;
    width: 225px;
    height: 53px;
    left: 850px;
    top: 150px;

}

.wrapper2 .pictures{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px 40px;
    padding-bottom: 130px;
}

.pictures .picture{
    color: white;
    width: 85%;
    height: 300px;
    border-radius: 20px;
    border: 1px solid #10005e27;
    background-color: white;
    transition: 0.25s linear;
    padding: 30px;
}

.pictures .picture:hover{
    box-shadow: 10px 10px 30px 20px #F5F5F5;
    border: white;
    transform: scale(1.1);
}

.pictures .ptext{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #243A73;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    
}

.pictures .ptext h2{
    padding: 20px;
}

.pictures .picture img{
    width: 25%;
}

/* Search. Enormous. Easy. Recognize. Choose. */

.scontainer{
    display: flex;
    margin: 0 auto;
    background-color: #F5F5F5;
    border-radius: 20px;
    overflow-x: hidden;
}

.scontainer .stext{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 56px;
    flex-direction: column;
    width: 50%;

}

.scontainer .stext h2{
    font-weight: 700;
    font-size: 40px;
    color: #243A73;
    font-family: 'Poppins', sans-serif;
    width: 55%;
}

.scontainer .stext .want{
    font-weight: 500;
    font-size: 22px;
    color: #243A73;
    font-family: 'Poppins', sans-serif;
    padding-top: 10px;
    width: 55%;
}

.scontainer .stext .al-driven{
    font-weight: 400;
    font-size: 15px;
    color:#343434;
    font-family: 'Poppins', sans-serif;
    padding-top: 45px;
    width: 55%;
}

.scontainer .ellipses{
    width: 55%;
    padding-top: 20px;
}

.scontainer .ellipse{
    width: 108px;
    height: 108px;
    border-radius: 50%;
    border: 2px dashed #0A093D;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: 500;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    transition: transform 0.5s ease;
}

.scontainer .ellipse:hover{
    transform: rotate(360deg);
}

.scontainer .rectangles{
    width: 35%;
    display: flex;
    justify-content: space-around;
    padding-top: 45px;
    padding-bottom: 75px;
    margin-right: 25vh;
}

.scontainer .rectangle{
    width: 74px;
    height: 50px;
    background-color: white;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
}

.scontainer .rectangle:hover{
    background-color: #FFCF2D;
    transition: 0.4s;
}

.sbigblock{
    display: flex;
    padding-top: 60px;
    flex-direction: column;
    width: 50%;
}

.sbigblock .search{
    display: flex;
    justify-content: space-around;
}

.sbigblock .one{
    width: 550px;
    height: 50px;
    background-color: white;
    border-radius: 11px;

}

.sbigblock .text{
    display: flex;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #737576;
    font-size: 13px;


}

.text .category{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    cursor: pointer;

}

.category img{
    width: 5%;
    transition: transform 0.5s ease;
}

.category img:hover{
    transform: rotate(180deg);
}

.category .palochka{
    border:1px solid rgba(115, 117, 118, 0.8);
    height: 50px;
}

.searches{
    width: 10%;
}

.text .searches{
    display: flex;
    justify-content: center;
    align-items: center;

}

.search .two{
    width: 70px;
    height: 50px;
    background-color: #0A093D;
    border-radius: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
}

.search .two:hover{
    background-color: #F94F46;
    transition: 0.3s;
}

.search .two img{
    width: 25px;
    height: 25px;
}

.spicture{
    display: flex;
    padding-top: 150px;
    justify-content: space-around;
}

.spicture .cart{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 1px solid #10005e27;
    background-color: white;
    transition: 0.25s linear;
    padding: 30px;
}

.spicture .cart:hover{
    box-shadow: 10px 10px 30px 20px #F5F5F5;
    border: white;
    transform: scale(1.1);
}

.spicture .cart img{
    width: 100%;
}

.spicture .cart p{
    font-weight: 700;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    color: #243A73;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    transition: 0.25s linear;
}

/* .slaider-rfq{
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto

}
.slaider-rfq .line-1{
    width: 40px;
    border: 5px solid #D8D8D8;
    border-radius: 10ex;
    transition: all ease 0.2s;
    cursor: pointer;
}
.slaider-rfq .line-1:hover{
    width: 60px;
    border: 5px solid #243A73;
    border-radius: 10ex;
    transition: all ease 0.2s;
} */


/* Smart RFQ */

.container-tight{
    padding-top: 130px;
}

.smart-container{
    width: 100%;
    display: flex;
    /* padding-bottom: 130px; */
}

.photo{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-rfq{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
}

.smart-rfq{
    width: 90%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.smart-rfq .three_line{
    position: absolute;
    bottom: 317px;
    right: 330px;
    
}

.smart-rfq .star_big{
    position: absolute;
    bottom: 270px;
    right: -10px;
}

.smart-rfq .star_small{
    position: absolute;
    width: 70px;
    height: 70px;
    bottom: 250px;
    left: 319px;
}

.zagol{
    font-weight: 600;
    font-size: 48px;
    color:#010F52;
    font-family: 'Poppins', sans-serif;
}

.blue{
    font-weight: 500;
    font-size: 20px;
    color: #243A73;
    font-family: 'Poppins', sans-serif;
}

.grey{
    font-weight: 400;
    font-size: 15px;
    color: #0000007D;
    font-family: 'Poppins', sans-serif;
    padding: 30px 0px 50px;
}


.bottom-rfq{
    width: 100%;
    display: flex;
}

.bottom-rfq .white{
    font-family: 'Poppins', sans-serif;
    background-color: #243A73;
    color: white;
    border-radius: 6px;
    padding: 15px 50px;
    font-weight: 400;
    transition: 0.4s;
    cursor: pointer;
}

.bottom-rfq .white:hover{
    background-color: #5A38FD;
    color: #10005e;
    transition: 0.2s;
}

.bottom-rfq .readmore{
    font-family: 'Poppins', sans-serif;
    color: #0E538C;
    font-weight: 500;
    font-size: 18px;
    padding: 15px 50px;
    transition: 0.4s;
    cursor: pointer;
}

.bottom-rfq .readmore:hover{
    color: #5A38FD;
    transition: 0.2s;
}

/* Step ahead to the new era of contract technology */

.step-container{
    width: 100%;
    display: flex;
}

.step-container .text-steps{
    width: 80%;
}

.text-step .zagol{
    position: relative;
}

.bottom-step .white{
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background-color: #243A73;
    color: white;
    border-radius: 6px;
    padding: 15px 50px;
    font-weight: 400;
    transition: 0.4s;
    cursor: pointer;
}

.bottom-step .white:hover{
    background-color: #5A38FD;
    color: #10005e;
    transition: 0.2s;
}

.step-container .photo{
    padding-left: 200px;
}

.text-step .crown{
    position: absolute;
    left: -5px;
    top: -30px;
}

.text-step .star{
    position: absolute;
    left: 420px;
    top: -30px;

}

/* Ingenious Sign-up: Smart Technology */

.container-fat{
    padding-top: 130px;
}

.icontainer{
    display: flex;
    margin: 0 auto;
    background-color: #F5F5F5;
    border-radius: 20px;
    overflow-x: hidden;
}

.icontainer .itext{
    display: flex;
    justify-content: center;
    padding: 56px 80px;
    flex-direction: column;

}

.icontainer .itext h2{
    /* padding-left: 80px; */
    font-weight: 700;
    font-size: 40px;
    color: #243A73;
    font-family: 'Poppins', sans-serif;
}

.icontainer .itext .al-driven{
    font-weight: 400;
    font-size: 15px;
    color:#343434;
    font-family: 'Poppins', sans-serif;
    padding-top: 45px;
    /* width: 45%; */
}

.galochki{
    font-weight: 400;
    font-size: 15px;
    color:#343434;
    font-family: 'Poppins', sans-serif;
    padding-top: 45px;
}

.galochki p{
    padding: 20px 40px;
    position: relative;
}

.galochki img{
    position: absolute;
    width: 20px;
    height: 20px;
    left: -4px;

}

.icontainer .photo{
     padding-right: 112px;
}

.itext .bottoms{
    display: flex;
    justify-content: space-around;
    padding-top: 42px;
}

#bottom2 .white{
    font-family: 'Poppins', sans-serif;
    /* background-color: #243A73; */
    color: #0E538C;
    border-radius: 6px;
    background-color: white;
    border: 1px solid #0E538C;
    padding: 15px 50px;
    font-weight: 400;
    transition: 0.4s;
}

.bottoms #bottom2 .white:hover{
    background-color: #5A38FD;
    color: white;
    transition: 0.2s;
}

/* Smart. Strategy. Sustainability. Support. Success. */

.container-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-text h2{
    font-weight: 700;
    font-size: 40px;
    color: #243A73;
    font-family: 'Poppins', sans-serif;
}

.container-text p{
    font-weight: 400;
    font-size: 15px;
    color:#343434;
    font-family: 'Poppins', sans-serif;
    padding-top: 25px;
}

.tpicture{
    width: 100%;
    display: flex;
    padding-top: 50px;
    justify-content: space-around;
}

.tpicture .cart{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    border: 1px solid #10005e27;
    background-color: white;
    transition: 0.25s linear;
    padding: 30px;
}

.tpicture .cart:hover{
    box-shadow: 10px 10px 30px 20px #F5F5F5;
    border: white;
    transform: scale(1.1);
}

/* .tpicture .cart img{
    width: 100%;
} */

.tpicture .cart h2{
    font-weight: 600;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    color: #243A73;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 20px;
}

.tpicture .cart p{
    font-weight: 400;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.49);
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.tpicture .cart img{
    width: 20%;
}

.end{
    font-weight: 400;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    color: #0E538C;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding-top: 60px;
}

/* Relationship. Interaction. Support. Profit. Growth */

.rcontainer{
    width: 100%;
    display: flex;
    position: relative;
}

.rtext{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 20px;
    color: #243A73;
    font-family: 'Poppins', sans-serif;
    padding: 20px;
}

.rtext h2{
    width: 50%;
    font-weight: 700;
    font-size: 40px;
    color: #243A73;
    font-family: 'Poppins', sans-serif;
}

.rtext .grey{
    width: 40%;
}

.rbottom{
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background-color: #243A73;
    color: white;
    border-radius: 6px;
    font-weight: 400;
    transition: 0.4s;
    cursor: pointer;
}

.rbottom:hover{
    background-color: #5A38FD;
    color: #10005e;
    transition: 0.2s;
}

.photo .num1{
    position: absolute;
}

.photo .num2{
    position: absolute;
    right: 300px;
}

/*Blogs*/

.text-blogs{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.text-blogs h2{
    font-weight: 700;
    font-size: 40px;
    color: #243A73;
    font-family: 'Poppins', sans-serif;
}

.text-blogs p{
    font-weight: 400;
    font-size: 20px;
    align-items: center;
    color: rgba(0, 0, 0, 0.49);
    font-family: 'Poppins', sans-serif;
}

/*.three_photo{*/
/*    width: 100%;*/
/*    !*display: flex;*!*/
/*    !*justify-content: space-between;*!*/
/*    !*align-items: center;*!*/
/*    !*padding: 35px;*!*/
/*}*/

.three_photo{
    padding-bottom: 30px;
}

.photos{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.photo1{
    width: 25%;
    display: flex;
    flex-direction: column;
}

.photo2{
    width: 25%;
    display: flex;
    flex-direction: column;
}

.photo3{
    width: 25%;
    display: flex;
    flex-direction: column;
}

.zag_photo{
    font-weight: 600;
    font-size: 20px;
    color: #243A73;
    font-family: 'Poppins', sans-serif;
    padding-top: 30px;
}

.par_photo{
    width: 100%;
    font-weight: 400;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.49);
    font-family: 'Poppins', sans-serif;
    padding-top: 23px;
}

.container-lines .line_three_photo{
    padding: 50px 0 50px;
}

.container-lines .line_photos{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-lines .line_photo1{
    width: 100%;
    display: flex;

}

.container-lines .line_photo2{
    width: 100%;
    display: flex;
}

.container-lines .line_photo3{
    width: 100%;
    display: flex;
}

.line_photos h2{
    font-weight: 600;
    font-size: 20px;
    color: #243A73;
    font-family: 'Poppins', sans-serif;
}

.line_photos p{
    width: 100%;
    font-weight: 400;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.49);
    font-family: 'Poppins', sans-serif;
    padding-top: 15px;
}

.tphoto {
    padding-left: 20px;
    padding-right: 20px;
}

.vertical_line{
    border-left: 1px solid #00000082;
    padding: 0px 15px 0px 15px;
}

/*Subscribe Newsletter*/

.container-sub{
    width: 100%;
    display: flex;
    /*flex-direction: column;*/
    background-color: #F5F5F5;
    border-radius: 20px;
}

.text-sub{
    width: 90%;
    display: flex;
    justify-content: center;
    padding: 56px 80px;
    flex-direction: column;

}

.text-sub h2{
    font-weight: 600;
    font-size: 40px;
    color: #243A73;
    font-family: 'Poppins', sans-serif;
}

.text-sub p{
    width: 50%;
    font-weight: 400;
    font-size: 15px;
    color: #343434;
    font-family: 'Poppins', sans-serif;
    padding-top: 15px;
}

.block-email{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.email{
    width: 471px;
    height: 60px;
    background-color: white;
    border-radius: 11px;

}

.block-email .email .e{
    display: flex;
    font-weight: 400;
    font-size: 15px;
    color: #737576;
    font-family: 'Poppins', sans-serif;
    padding-left: 30px;
    margin: 0;
}

.photo{
    padding: 30px;
}

/*Footer*/

.footers{
    width: 100%;
    background: url("../imgs/rfq/Background.svg"), #243A73;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text__footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 100px;
}

.logo-text h1{
    font-family: 'Urbanist', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin: 0;
}
.logo-text p{
    font-family: 'Urbanist', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
}
.text__footer span a{
    font-family: 'Urbanist', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-transform: capitalize;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}
.text__footer a{
    font-family: 'Urbanist', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}
.acc, .res, .comm{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
}
.social{
    padding-top: 25px;
}
.social img{
    padding-right: 15px;
}

form{
    position: relative;
    padding-top: 25px;
}
input{
    padding: 17px 160px 24px 17px;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    background-color: #34343400;
    outline:none;
}
input::placeholder{
    font-family: 'Urbanist', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
}
.but{
    width: 60px;
    height: 56px;
    background: #64A5CA;
    border-radius: 0px 10px 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0.8px;
    bottom: 1.2px;
    transition: all ease 0.2s;
}
.but:hover{
    background: #5085af;
}